/* Normal */
@font-face {
    font-family: 'News Cycle';
    font-style: normal;
    font-weight: 400;
    src: local('News Cycle Regular'), local('NewsCycle-Regular'),
        url('/fonts/NewsCycle-Regular.ttf') format('truetype');
    font-display: swap;
}

/* Bold */
@font-face {
    font-family: 'News Cycle';
    font-style: bold;
    font-weight: 700;
    src: local('News Cycle Bold'), local('NewsCycle-Bold'),
        url('/fonts/NewsCycle-Bold.ttf') format('truetype');
    font-display: swap;
}

/* type */
body {
    font-family: 'News Cycle', sans-serif;
    font-feature-settings: 'onum' 1;
    font-size: var(--step-0);
    font-weight: 400;
    line-height: 1.5;
}

h1,
h2,
h3 {
    color: rgb(var(--color-primary));
    font-family: 'News Cycle', sans-serif;
    font-variant-numeric: lining-nums;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

h1 {
    font-size: var(--step-3);
}
h2 {
    font-size: var(--step-2);
}

h3 {
    font-size: var(--step-1);
}

.lead {
    font-family:  'News Cycle', sans-serif;
}

.display-4 {
    font-size: 2rem;
    line-height: 1.1;
    letter-spacing: 0.1em;
    font-weight: 700;
}

.display-4 small {
    font-size: 1.4rem;
    color: rgba(var(--color-primary), 0.8);
}

.brand {
    font-weight: 700;
    font-size: var(--step-4);
    letter-spacing: 0.1em;
    font-style: normal;
}