.flow > * + * {
    margin-top: var(--flow-space, 1em);
}

.region {
    padding-top: var(--region-space, var(--space-l-xl));
    padding-bottom: var(--region-space, var(--space-l-xl));
}

.wrapper {
    max-width: var(--wrapper-max-width, 85rem);
    margin-inline: auto ;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    position: relative;
}

.container {
    width: min(var(--container-max-width, 80ch), 100vw - var(--gutter) * 2);
    margin-inline: auto;
}

.color-primary {
    color: var(--color-primary);
}