/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1364,22,1.414,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --step--1: clamp(0.83rem, calc(0.79rem + 0.21vw), 0.97rem);
    --step-0: clamp(1rem, calc(0.89rem + 0.57vw), 1.38rem);
    --step-1: clamp(1.2rem, calc(0.97rem + 1.14vw), 1.94rem);
    --step-2: clamp(1.44rem, calc(1.04rem + 2.01vw), 2.75rem);
    --step-3: clamp(1.73rem, calc(1.07rem + 3.31vw), 3.89rem);
    --step-4: clamp(2.07rem, calc(1.02rem + 5.25vw), 5.5rem);
    --step-5: clamp(2.49rem, calc(0.87rem + 8.1vw), 7.77rem);

    --space-3xs: clamp(0.25rem, calc(0.21rem + 0.19vw), 0.38rem);
    --space-2xs: clamp(0.5rem, calc(0.44rem + 0.29vw), 0.69rem);
    --space-xs: clamp(0.75rem, calc(0.65rem + 0.48vw), 1.06rem);
    --space-s: clamp(1rem, calc(0.89rem + 0.57vw), 1.38rem);
    --space-m: clamp(1.5rem, calc(1.33rem + 0.86vw), 2.06rem);
    --space-l: clamp(2rem, calc(1.77rem + 1.15vw), 2.75rem);
    --space-xl: clamp(3rem, calc(2.66rem + 1.72vw), 4.13rem);
    --space-2xl: clamp(4rem, calc(3.54rem + 2.3vw), 5.5rem);
    --space-3xl: clamp(6rem, calc(5.31rem + 3.45vw), 8.25rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, calc(0.12rem + 0.67vw), 0.69rem);
    --space-2xs-xs: clamp(0.5rem, calc(0.33rem + 0.86vw), 1.06rem);
    --space-xs-s: clamp(0.75rem, calc(0.56rem + 0.96vw), 1.38rem);
    --space-s-m: clamp(1rem, calc(0.67rem + 1.63vw), 2.06rem);
    --space-m-l: clamp(1.5rem, calc(1.12rem + 1.92vw), 2.75rem);
    --space-l-xl: clamp(2rem, calc(1.35rem + 3.26vw), 4.13rem);
    --space-xl-2xl: clamp(3rem, calc(2.23rem + 3.83vw), 5.5rem);
    --space-2xl-3xl: clamp(4rem, calc(2.7rem + 6.51vw), 8.25rem);

    /* Custom pairs */
    --space-s-l: clamp(1rem, calc(0.46rem + 2.68vw), 2.75rem);

    /* config */
    --font-base: 'News Cycle', sans-serif;
    --tracking: 0.05ch;
    --tracking-s: 0.075ch;
    --leading: 1.5;

    --border-radius: var(--step-0);
    --gutter: var(--space-s-m);

    --min: 320px;
    --max: 1364px;

    /* colors */
    --color-primary: #448cca;
    --color-primary-darker: #2b6597;
    --color-dark: #212529;
    --color-light: #f8f9fa;
}
