/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1364,22,1.414,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --step--1: clamp(0.83rem, calc(0.79rem + 0.21vw), 0.97rem);
  --step-0: clamp(1rem, calc(0.89rem + 0.57vw), 1.38rem);
  --step-1: clamp(1.2rem, calc(0.97rem + 1.14vw), 1.94rem);
  --step-2: clamp(1.44rem, calc(1.04rem + 2.01vw), 2.75rem);
  --step-3: clamp(1.73rem, calc(1.07rem + 3.31vw), 3.89rem);
  --step-4: clamp(2.07rem, calc(1.02rem + 5.25vw), 5.5rem);
  --step-5: clamp(2.49rem, calc(0.87rem + 8.1vw), 7.77rem);
  --space-3xs: clamp(0.25rem, calc(0.21rem + 0.19vw), 0.38rem);
  --space-2xs: clamp(0.5rem, calc(0.44rem + 0.29vw), 0.69rem);
  --space-xs: clamp(0.75rem, calc(0.65rem + 0.48vw), 1.06rem);
  --space-s: clamp(1rem, calc(0.89rem + 0.57vw), 1.38rem);
  --space-m: clamp(1.5rem, calc(1.33rem + 0.86vw), 2.06rem);
  --space-l: clamp(2rem, calc(1.77rem + 1.15vw), 2.75rem);
  --space-xl: clamp(3rem, calc(2.66rem + 1.72vw), 4.13rem);
  --space-2xl: clamp(4rem, calc(3.54rem + 2.3vw), 5.5rem);
  --space-3xl: clamp(6rem, calc(5.31rem + 3.45vw), 8.25rem);
  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.12rem + 0.67vw), 0.69rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.33rem + 0.86vw), 1.06rem);
  --space-xs-s: clamp(0.75rem, calc(0.56rem + 0.96vw), 1.38rem);
  --space-s-m: clamp(1rem, calc(0.67rem + 1.63vw), 2.06rem);
  --space-m-l: clamp(1.5rem, calc(1.12rem + 1.92vw), 2.75rem);
  --space-l-xl: clamp(2rem, calc(1.35rem + 3.26vw), 4.13rem);
  --space-xl-2xl: clamp(3rem, calc(2.23rem + 3.83vw), 5.5rem);
  --space-2xl-3xl: clamp(4rem, calc(2.7rem + 6.51vw), 8.25rem);
  /* Custom pairs */
  --space-s-l: clamp(1rem, calc(0.46rem + 2.68vw), 2.75rem);
  /* config */
  --font-base: "News Cycle", sans-serif;
  --tracking: 0.05ch;
  --tracking-s: 0.075ch;
  --leading: 1.5;
  --border-radius: var(--step-0);
  --gutter: var(--space-s-m);
  --min: 320px;
  --max: 1364px;
  /* colors */
  --color-primary: #448cca;
  --color-primary-darker: #2b6597;
  --color-dark: #212529;
  --color-light: #f8f9fa;
}

/* Normal */
@font-face {
  font-family: "News Cycle";
  font-style: normal;
  font-weight: 400;
  src: local("News Cycle Regular"), local("NewsCycle-Regular"), url("/fonts/NewsCycle-Regular.ttf") format("truetype");
  font-display: swap;
}
/* Bold */
@font-face {
  font-family: "News Cycle";
  font-style: bold;
  font-weight: 700;
  src: local("News Cycle Bold"), local("NewsCycle-Bold"), url("/fonts/NewsCycle-Bold.ttf") format("truetype");
  font-display: swap;
}
body {
  color: var(--color-dark);
  background-color: var(--color-light);
  font-family: var(--font-base);
  font-size: var(--step-0);
  line-height: var(--leading);
  letter-spacing: var(--tracking);
  font-feature-settings: "onum" 1;
}

h1,
h2,
h3 {
  font-variant-numeric: lining-nums;
  font-weight: 700;
  line-height: 1;
  max-width: 20ch;
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

p,
li,
blockquote:not([class]) {
  max-width: 50ch;
}

blockquote:not([class]) {
  font-size: var(--step-1);
  font-family: var(--font-serif);
}

blockquote:not([class]) p:last-of-type {
  font-family: var(--font-base);
  font-size: var(--step-0);
  font-weight: normal;
}

svg {
  height: 2ex;
  width: auto;
  flex: none;
}

[role=list] {
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-darker);
}

:focus {
  outline: 2px solid;
  outline-offset: 0.3ch;
}

:target {
  scoll-margin-top: 2ex;
}

main:focus {
  outline: none;
}

::selection {
  background: var(--color-dark);
  color: var(--color-light);
}

/* 
SIDEBAR
More info: https://every-layout.dev/layouts/sidebar/
A layout that allows you to have a flexible main content area
and a "fixed" width sidebar that sits on the left or right.
If there is not enough viewport space to fit both the sidebar
width *and* the main content minimum width, they will stack
on top of each other

CUSTOM PROPERTIES AND CONFIGURATION
--gutter (var(--space-size-1)): This defines the space
between the sidebar and main content.

--sidebar-target-width (20rem): How large the sidebar should be

--sidebar-content-min-width(50%): The minimum size of the main content area

EXCEPTIONS
.sidebar[data-direction='rtl']: flips the sidebar to be on the right 
*/
.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-s-l));
}

.sidebar > :first-child {
  flex-basis: var(--sidebar-target-width, 20rem);
  flex-grow: 1;
}

.sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: var(--sidebar-content-min-width, 50%);
}

/* 
  A flipped version where the sidebar is on the right
  */
.sidebar[data-direction=rtl] {
  flex-direction: row-reverse;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-placement, auto-fill), minmax(var(--grid-min-item-size, 16rem), 1fr));
  gap: var(--gutter, var(--space-s-l));
}

.grid[data-layout="50-50"] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 50vw, 26rem);
}

.grid[data-rows=masonry] {
  grid-template-rows: masonry;
  align-items: start;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.region {
  padding-top: var(--region-space, var(--space-l-xl));
  padding-bottom: var(--region-space, var(--space-l-xl));
}

.wrapper {
  max-width: var(--wrapper-max-width, 85rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  position: relative;
}

.container {
  width: min(var(--container-max-width, 80ch), 100vw - var(--gutter) * 2);
  margin-inline: auto;
}

.color-primary {
  color: var(--color-primary);
}

.card {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: var(--space-m-l);
  border-radius: var(--border-radius);
  max-width: unset;
}

.features {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 33%, 20rem);
  --gutter: var(--space-l-xl);
  --flow-space: var(--space-s);
  text-align: center;
}

.site-head {
  --region-space: var(--space-s-m);
  color: var(--color-primary);
}
.site-head a {
  text-decoration: none;
}
.site-head a:hover {
  color: var(--color-primary-darker);
}

.post-list h3 {
  color: var(--color-primary);
}
.post-list h3 a {
  text-decoration: none;
}
.post-list h3 a:hover {
  color: var(--color-primary-darker);
}
.post-list p:has(img) {
  display: grid;
  place-content: center;
}
.post-list img {
  --aspect: 16/9;
  --mh: 15rem;
  aspect-ratio: var(--aspect);
  object-fit: cover;
  max-height: var(--mh);
}

.nav-list {
  color: var(--color-primary);
  font-size: var(--step-1);
}
.nav-list ul {
  font-size: var(--step-0);
  margin-left: var(--space-s);
}
.nav-list li::first-letter {
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
