{% for post in postslist %}
<article{% if post.url==url %} data-current="current item" {% endif %} class="post-list region flow">
    <h3>
        <a href="{{ post.url | url }}">
            {% if post.data.year %}
            <time datetime="{{ post.data.year }}">
                {{ post.data.year }}
            </time>
            {% endif %}
            {% if post.data.title %}
            {{ post.data.title }}
            {% else %}
            Untitled
            {% endif %}
        </a>
    </h3>
    {% if post.data.summary %}
    <p>
        {{ post.data.summary }}
    </p>
    {% endif %}
    {% if post.data.feature-image %}
    <figure>
        <img src="{{ post.data.feature-image }}" alt="{{ post.data.title }}">
    </figure>
    {% endif %}
    </article>
{% endfor %}