---
layout: layouts/base.njk
section: Böcker
permalink: /books/index.html
---

{% block content %}
<main class="flow container">
    {% include "components/sitehead.njk" %}
    <div class="sidebar">
        <div>
            {% include "components/intro.njk" %}
            {% include "components/nav.njk" %}
        </div>
        <div class="flow">
            {{ content | safe }}
        </div>
    </div>
</main>
{% endblock %}