---
layout: layouts/base.njk
section: CV
permalink: /cv/index.html
---

{% block content %}
<main class="flow container">
    {% include "components/sitehead.njk" %}
    <div class="sidebar">
        <div>
            {% include "components/intro.njk" %}
            {% include "components/nav.njk" %}
        </div>
        <article class="flow">
            <h2>{{ title }}</h2>
            <p>{{ metaDescription }}</p>
            {{ content | safe }}
        </article>
    </div>
</main>
{% endblock %}