{% extends "layouts/base.njk" %}

{% block content %}
<main class="flow container">
        <header class="site-head">
            <div class="region">
                <h1><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
            </div>
        </header>
    <div class="sidebar">
        <div>
            {% include "components/intro.njk" %}
            {% include "components/nav.njk" %}
        </div>
        <img src="/static/img/eva.jpg" alt="Porträtt av Eva">
    </div>
</main>
{% endblock %}