---
layout: layouts/base.njk
section: Affischer
permalink: /posters/index.html
---

{% block content %}
<main class="flow container">
    {% include "components/sitehead.njk" %}
    <div class="sidebar">
        <div>
            {% include "components/intro.njk" %}
            {% include "components/nav.njk" %}
        </div>
        <article class="flow">
            <h2>{{ title }}</h2>
            <p>{{ metaDescription }}</p>
            <div class="posters-grid">
                {%- image "./static/img/posters/aff_emostor.jpg", "Emotioner och skandinaviskt genus", "(min-width: 22ch) 50vw, 100vw" -%}
                {%- image "./static/img/posters/aff_femstor.jpg", "Svenska feminister", "(min-width: 22ch) 50vw, 100vw" -%}
                {%- image "./static/img/posters/aff_3stor.jpg", "Genusforskare om aktuella samhällsfrågor", "(min-width: 22ch) 50vw, 100vw" -%}
                {%- image "./static/img/posters/aff_4stor.jpg", "Kryckor som vinglar", "(min-width: 22ch) 50vw, 100vw" -%}
                {%- image "./static/img/posters/aff_slidestor.jpg", "Kvinnliga författare", "(min-width: 22ch) 50vw, 100vw" -%}
                {%- image "./static/img/posters/aff_holmon.jpg", "Holmöns visfestival", "(min-width: 22ch) 50vw, 100vw" -%}
            </div>
        </article>
    </div>
</main>
{% include "components/modal.njk" %}
{% endblock %}