---
layout: layouts/base.njk
section: Utställningar och projekt
permalink: /utstallningar-och-projekt/index.html
---

{% block content %}
<main class="flow container">
    {% include "components/sitehead.njk" %}
    <div class="sidebar">
        <div>
            {% include "components/intro.njk" %}
            {% include "components/nav.njk" %}
        </div>
        <div class="content-list flow">
            <h2>{{ title }}</h2>
            {% set postslist = collections.projects %}
            {% include "components/postslist.njk" %}
        </div>
    </div>
</main>
{% endblock %}