---
layout: layouts/base.njk
section: page
---
{% block content %}
<main class="flow container">
    {% include "components/sitehead.njk" %}
    <div class="sidebar">
        <div>
            {% include "components/intro.njk" %}
            {% include "components/nav.njk" %}
        </div>
        <article class="project flow">
            <h2>{{ title }}</h2>
            {% if summary %}
                <p>{{ summary }}</p>
            {% endif %}
            {% if featureimage %}
                <div class="feature">
                    <img src="{{ featureimage }}" alt="{{ title }}">
                </div>
            {% endif %}
            {{ content | safe }}
        </article>
    </div>
</main>
{% include "components/modal.njk" %}
{% endblock %}